*{
  box-sizing: border-box;
}
body{
  text-align: center;
  font-family: "comic sans ms", serif;
  width:100%;
  margin: 0;
}
h2{
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 2%;
}
.row{
  width: 100%;
}
.box{
  border: 1px solid black;
  background-color: #999999;
  float: left;
  padding-bottom: 1%;
}
.head_1, .head_2, .head_3{
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
  border: 1px solid black;
  width: 30%;
  text-align: center;
  left: 70%;
  margin-bottom: 2%;
}
.head_1{
  background-color: #EDF5E1;
}
.head_2{
  background-color: #397683;
  color: white;
  font-weight: bold;
}
.head_3{
  background-color: #8EE4AF;
}
@media (min-width: 992px) {
  .col-lg-4{
    width: 30%;
    margin-left: 2.5%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6{
    width: 45.005%;
    margin-left: 3.33%;
    margin-bottom: 3.33%;
  }
  .col-md-12{
    width: 93.34%;
    margin-left: 3.33%;
    margin-right: 3.33%;
  }
}
@media (max-width:767px) {
  .col-sm-12{
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
  }
}
